<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <p th:text="${desc}"></p>

    <a href="/api/products">Api Products</a>
    <br>
    <a href="/api/products/stats">Api Products Stats</a>
<br>
    <hr>
    <a href="/api/products">Api Customers</a>
    <br>
    <a href="/api/products/stats">Api Customers Stats</a>
</body>
</html>